@import 'variables.scss';

:host {
  width: 100vw;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $saphire-blue;
  top: 0;
  z-index: 1;

  h2,
  a {
    padding: 20px;
    color: $azure;
    text-align: center;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}