@import 'variables.scss';

:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: $saphire-blue;
  }

  button {
    width: 200px;
    height: 40px;
    border-radius: 1rem;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    background-color: $saphire-blue;
    color: $azure;

    &:hover {
      opacity: 0.8;
    }
  }

}